/* ==========================================================================
   Global partials
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Custom Post Types responsive styles
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-hotel-room-single-holder .eltd-hr-single-title-holder .eltd-hotel-room-single-title {
    padding-left: 30px;
  }
  .eltd-hotel-room-single-holder .eltd-hr-single-title-holder .eltd-hotel-room-single-price {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-hotel-room-single-outer .eltd-tabs .eltd-hr-item-section {
    padding: 50px 0 0 0;
  }
  .eltd-hotel-room-single-outer .eltd-tabs .eltd-hr-item-section .eltd-hotel-room-label-items-holder {
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  .eltd-hotel-room-single-outer .eltd-tabs .eltd-hotel-room-reviews-breakdown .eltd-hr-item-reviews-display-left {
    float: none;
  }
  .eltd-hotel-room-single-outer .eltd-tabs .eltd-hotel-room-reviews-breakdown .eltd-hr-item-reviews-display-right {
    padding-left: 0;
  }
  .eltd-hotel-room-single-outer .eltd-tabs .eltd-tabs-nav {
    width: 100%;
    float: none;
  }
  .eltd-hotel-room-single-outer .eltd-tabs .eltd-hr-item-section {
    width: 100%;
    float: none;
    padding: 30px 0 0 0;
  }
  .eltd-hotel-room-single-holder ul.eltd-slider-thumbnail.eltd-slider-columns-four {
    margin: 20px -10px 23px;
  }
  .eltd-hotel-room-single-holder .eltd-slider-thumbnail-item {
    width: 50% !important;
    /*   Width for slider images on smaller screens   */
    margin-bottom: 17px !important;
    /*   Margin for slider images on smaller screens   */
  }
  .eltd-hotel-room-single-holder .eltd-comment-holder {
    margin-top: 20px;
  }
  .eltd-hr-item-wrapper {
    margin-top: 20px !important;
    /*   Margin top  content on smaller screens   */
  }
}

@media only screen and (max-width: 680px) {
  .eltd-hotel-room-single-holder .eltd-hr-single-title-holder {
    height: auto;
  }
  .eltd-hotel-room-single-holder .eltd-hr-single-title-holder .eltd-hr-single-title-inner {
    display: inline-block;
    width: 100%;
  }
  .eltd-hotel-room-single-holder .eltd-hr-single-title-holder .eltd-hr-single-title-inner > * {
    display: inline-block;
    width: 100%;
  }
  .eltd-hotel-room-single-holder .eltd-hr-single-title-holder .eltd-hotel-room-single-title,
  .eltd-hotel-room-single-holder .eltd-hr-single-title-holder .eltd-hotel-room-single-price {
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .eltd-hotel-room-single-holder .eltd-custom-nav.eltd-custom-nav-right .eltd-owl-slider .owl-nav {
    display: none !important;
    /* hide thumbnail on small devices */
  }
  ul.eltd-slider-thumbnail {
    display: none !important;
    /* hide thumbnail on small devices */
  }
  .eltd-hotel-room-single-outer .eltd-tabs .eltd-hotel-room-amenity-items .eltd-tag-item {
    width: 100%;
    float: none;
  }
}

@media only screen and (min-width: 1271px) and (max-width: 1440px) {
  .eltd-header-vertical .eltd-hotel-filter-holder.eltd-hrf-type-stripe .eltd-hotel-filters {
    padding-left: 10px;
    padding-right: 10px;
  }
  .eltd-header-vertical .eltd-hotel-filter-holder.eltd-hrf-type-stripe .eltd-hotel-filters-inner .eltd-hotel-filters-cell input, .eltd-header-vertical .eltd-hotel-filter-holder.eltd-hrf-type-stripe .eltd-hotel-filters-inner .eltd-hotel-filters-cell .select2 {
    font-size: 11px;
  }
  .eltd-header-vertical .eltd-hotel-filter-holder.eltd-hrf-type-stripe .eltd-hotel-filters-inner .eltd-hotel-filters-cell .eltd-hotel-room-filter-button {
    padding: 13px 16px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1270px) {
  .eltd-header-vertical .eltd-hotel-filter-holder.eltd-hrf-type-stripe .eltd-hotel-filters-inner {
    display: inline-block;
  }
  .eltd-header-vertical .eltd-hotel-filter-holder.eltd-hrf-type-stripe .eltd-hotel-filters-inner .eltd-hotel-filters-cell {
    width: calc( 100% / 3);
    display: inline-block;
    float: left;
  }
  .eltd-header-vertical .eltd-hotel-filter-holder.eltd-hrf-type-stripe .eltd-hotel-room-filter-button-holder {
    margin: 20px auto 0;
  }
}

@media only screen and (max-width: 1280px) {
  .eltd-hotel-filter-holder.eltd-hrf-type-stripe.eltd-hotel-full-width-filter {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-hotel-filter-holder.eltd-hrf-type-stripe .eltd-hotel-filters-inner {
    display: inline-block;
  }
  .eltd-hotel-filter-holder.eltd-hrf-type-stripe .eltd-hotel-filters-inner .eltd-hotel-filters-cell {
    width: calc( 100% / 3);
    display: inline-block;
    float: left;
  }
  .eltd-hotel-filter-holder.eltd-hrf-type-stripe .eltd-hotel-room-filter-button-holder {
    margin: 20px auto 0;
  }
}

@media only screen and (max-width: 680px) {
  .eltd-hotel-filter-holder.eltd-hrf-type-stripe .eltd-hotel-filters-inner .eltd-hotel-filters-cell {
    width: calc( 100% / 3);
  }
}

@media only screen and (max-width: 480px) {
  .eltd-hotel-filter-holder.eltd-hrf-type-stripe .eltd-hotel-filters-inner .eltd-hotel-filters-cell {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .eltd-hotel-filter-holder.eltd-hrf-type-box .eltd-hotel-filters-inner .eltd-hotel-filters-cell {
    width: 100%;
  }
}

/* Property filter section responsive css - start */
@media only screen and (max-width: 768px) {
  .eltd-hrl-holder .eltd-hrl-filter-part .eltd-filter-row {
    display: block;
    width: 100%;
    margin-bottom: 0;
  }
  .eltd-hrl-holder .eltd-hrl-filter-part .eltd-filter-section-3,
  .eltd-hrl-holder .eltd-hrl-filter-part .eltd-filter-section-6,
  .eltd-hrl-holder .eltd-hrl-filter-part .eltd-filter-section-9 {
    display: block;
    width: 100%;
    border-left: 0;
    margin-bottom: 25px;
    padding: 0;
  }
  .eltd-hrl-holder .eltd-hrl-filter-part .eltd-filter-section-action {
    margin-bottom: 25px;
  }
  .eltd-hrl-holder .eltd-hrl-filter-part .eltd-filter-specification-holder .eltd-quantity-buttons {
    display: block;
  }
}

@media only screen and (max-width: 680px) {
  .eltd-hrl-holder .eltd-hrl-filter-part .eltd-filter-features-holder .eltd-feature-item {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-hrl-holder .eltd-hrl-filter-part .eltd-filter-features-holder .eltd-feature-item {
    width: 100%;
    float: none;
  }
}

/* ==========================================================================
   Property shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .eltd-hrl-holder.eltd-hrl-four-columns article {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .eltd-hrl-holder.eltd-hrl-four-columns article:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-hrl-holder.eltd-hrl-five-columns article {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .eltd-hrl-holder.eltd-hrl-five-columns article:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-hrl-holder.eltd-hrl-three-columns article {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .eltd-hrl-holder.eltd-hrl-three-columns article:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-hrl-holder.eltd-hrl-four-columns article {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .eltd-hrl-holder.eltd-hrl-four-columns article:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-hrl-holder.eltd-hrl-five-columns article {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .eltd-hrl-holder.eltd-hrl-five-columns article:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-hrl-holder.eltd-hrl-divided article .eltd-item-holder {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }
  .eltd-hrl-holder.eltd-hrl-divided article .eltd-item-holder .eltd-hrl-item-image,
  .eltd-hrl-holder.eltd-hrl-divided article .eltd-item-holder .eltd-hrl-item-content {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .eltd-hrl-holder article {
    width: 100% !important;
  }
}

/* ==========================================================================
   Property shortcode responsive style - end
   ========================================================================== */
@media only screen and (max-width: 768px) {
  .eltd-hrl-sort-part .eltd-hrl-sort-part-inner .eltd-hrl-sort-part-item {
    width: 100%;
    margin: 0px;
  }
  .eltd-hrl-sort-part .eltd-hrl-sort-part-inner .eltd-hrl-sort-part-item:after {
    margin: 0px;
  }
}

/* ==========================================================================
   Product Pair shortcode responsive styles - begin
   ========================================================================== */
.eltd-pp-holder {
  margin: 0 auto;
  position: relative;
  display: table;
}

@media only screen and (max-width: 768px) {
  .eltd-pp-holder .eltd-ppi {
    display: block;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-eh-item-content .eltd-hrp-holder {
    text-align: center !important;
  }
  .eltd-eh-item-content .eltd-hrp-holder .eltd-hrp {
    display: inline-block !important;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .eltd-hrp-holder .eltd-hrp {
    padding: 15px 33px;
  }
}

/* ==========================================================================
   Product Pair shortcode responsive styles - end
   ========================================================================== */
/* ==========================================================================
   Shortcodes responsive styles
   ========================================================================== */

/*# sourceMappingURL=../../../../plugins/eltd-hotel/assets/css/hotel-responsive.css.map */
